
body{
    margin: 0;
}

header{
    font-family: 'Open Sans', sans-serif;
    height: 10vh;
    width: 100%;
    background-color: rgb(121, 216, 184);
    color: rgb(58, 58, 58);
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container{
    display:grid;
    align-items: center;
    /* Grid-template-columns:repeat(3,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	Grid-gap:1em 1em;
	Margin-top:1em;
}

.fit-picture{
    width: 98%; 
    margin: 1%;   
    min-width: 150px;
    align-self: stretch;
}
#my_camera{
    width: 100vw;
}

#add-picture{
    position: absolute;
    top: 0;
    left: 19px;
}